# Environment variables
.env

# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
/tests/coverage/

# Test images
/test-images/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
